<form action="/events/local/new" method="POST">
    <p>Name of your event!</p>
    <input type="text" name="name" id="name" placeholder="Name..."><br />
    <p>Please list the date also the start and ending time of your event!</p>
    <input type="text" name="time" id="time" placeholder="Time start and end"><br />
    <p>List your event address</p>
    <input type="text" name="venue" id="venue" placeholder="Venue Address"><br />
    <p>Lets now list your description of your event. Things to possibly include</p>
    <ul>
        <li>How to register/Link to register</li>
        <li>General Description of Event</li>
        <li>Rules</li>
        <li>History of your event</li>
        <li>Relevent links (facebook, twitter,discord, etc...)</li>
        <li>Primary Contact for event</li>
    </ul>
    <input type="text" name="description" id="description" placeholder="Description"><br />
    <input type="submit" value="Add Events">
</form>