<% events.forEach(function(event) { %>
    <div>
        <h2><%= event.name %></h2>
        <form method="POST" action="/events/<%=event.id%>/?_method=DELETE">
            <input type="submit" value="Remove event from Saved.">
        </form>
    </div>
    <% }); %>
</div>