<h1 class='center'><u>Resources for Events/Information/Training</u></h1>
<hr>
<ul>
    <h2>Information Links</h2>
    <li><a href="https://www.reddit.com/r/StreetFighter/wiki/fgc">What is the FGC?</a></li>
    <li><a href="https://www.reddit.com/r/StreetFighter/">Street Fighter Reddit</a></li>
    <li><a href="https://old.reddit.com/r/StreetFighter/comments/aqd5n9/an_answer_to_which_character_should_i_main_posts/?st=k24xg4b1&sh=5cd4678c">Choosing a Main</a></li>
    <li><a href="http://www.sirlin.net/ptw/">Holy Grail book on Fighting Game Mentality and Thinking to win </a></li>
    <li><a href="https://www.reddit.com/r/StreetFighter/wiki/iv/glossary">Fighting Game Terms</a></li>
    <li><a href="https://capcomprotour.com/standings/">CPT rankings (current top players)</a></li>
</ul>
<hr>
<ul>
    <h2>Training Links</h2>
    <li><a href="https://www.reddit.com/r/stReetfighter/wiki/v/giefsgym">Gief's Gym (holy grail for beginners)</a></li>
    <li><a href="https://fullmeter.com/fatonline/#/home">Frame Data for SFV characters</a></li>
    <li><a href="https://www.youtube.com/watch?v=FQQCan5oo90">Guide to footsies in video form (very important)</a></li>
    <li><a href="https://sonichurricane.com/?page_id=1702">Another guide to footsies (post style)</a></li>
    <li><a href="https://www.youtube.com/watch?v=_R0hbe8HZj0">Why button mashing does not work</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL3zIZC81cOF6hDUl2NvE05datU0aNT9su">Frame Data Analysis</a></li>
</ul>
<hr>
