<h1 class='center'><u>Resources for Events/Information/Training</u></h1>
<hr>
<h2>Seattle SFV Discord: <a href="https://discord.gg/q9UDANB" target="_blank">Click here for an invite!</a></h2>
<hr>
<ul>
    <h2>Information Links</h2>
    <li><a href="https://www.reddit.com/r/StreetFighter/wiki/fgc" target="_blank">What is the FGC?</a></li>
    <li><a href="https://www.reddit.com/r/StreetFighter/" target="_blank">Street Fighter Reddit</a></li>
    <li><a href="https://old.reddit.com/r/StreetFighter/comments/aqd5n9/an_answer_to_which_character_should_i_main_posts/?st=k24xg4b1&sh=5cd4678c" target="_blank">Choosing a Main</a></li>
    <li><a href="http://www.sirlin.net/ptw/" target="_blank">Holy Grail book on Fighting Game Mentality and Thinking to win </a></li>
    <li><a href="https://www.reddit.com/r/StreetFighter/wiki/iv/glossary" target="_blank">Fighting Game Terms</a></li>
    <li><a href="https://capcomprotour.com/standings/" target="_blank">CPT rankings (current top players)</a></li>
</ul>
<hr>
<ul>
    <h2>Training Links</h2>
    <li><a href="https://www.reddit.com/r/stReetfighter/wiki/v/giefsgym" target="_blank">Gief's Gym (holy grail for beginners)</a></li>
    <li><a href="https://fullmeter.com/fatonline/#/home" target="_blank">Frame Data for SFV characters</a></li>
    <li><a href="https://www.youtube.com/watch?v=FQQCan5oo90" target="_blank">Guide to footsies in video form (very important)</a></li>
    <li><a href="https://sonichurricane.com/?page_id=1702" target="_blank">Another guide to footsies (post style)</a></li>
    <li><a href="https://www.youtube.com/watch?v=_R0hbe8HZj0" target="_blank">Why button mashing does not work</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL3zIZC81cOF6hDUl2NvE05datU0aNT9su" target="_blank">Frame Data Analysis</a></li>
</ul>
<hr>
