body{
    background-image: url('https://misfitkarma.com/image/187633-full_street-fighter-4k-wallpapers-top-free-street-fighter-4k.jpg');
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
main{
    background:rgba(22, 22, 22, 0.7);
    margin:0;
}

hr{
    border-color:white;
}

p{
    color:white;
    margin: 0;
}

h2{
    color:white;
}

.navbar{
    background:rgba(0, 0, 0, 0.7 );
}

.carousel-inner{
    max-height: 600px !important;
    margin: 15px auto 30px auto
}



.navbar span{
    color:white;
    font-size: 30px; 
}

.navbar img{
    border: 2px solid black;
    border-radius: 15%;
    background:black;
}

.navbar .small{
    font-size: 20px;
}
