body{
    background-image: url('https://images.wallpaperscraft.com/image/street_fighter_5_capcom_fighter_106265_2104x1080.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
main{
    background:rgba(22, 22, 22, 0.85);
    margin:0;
}

hr{
    border-color:white;
}

p{
    color:white;
    margin: 0;
}

h1{
    text-align:center;
}
img{
    display:block;
    margin: 0 auto;
    border: 10px solid black;
}

.container{
    border: 3px solid black;
}

.center{
    text-align:center;
}

.form-group{
    margin: 15px auto;
    width: 75%;
}


.btn{
    display: block;
    margin: auto;
    width: 50%;
}

.navbar{
    background:rgba(95, 89, 89, 0.85);
    border: 7px solid black;
}

.carousel-inner{
    max-height: 600px !important;
    margin: 0 auto 30px auto
}

.dropdown-toggle{
    color:white;
}

.navbar span{
    color:white;
    font-size: 30px; 
}

.navbar img{
    border: 2px solid black;
    border-radius: 15%;
    background:black;
}

.navbar .small{
    font-size: 20px;
}
